*{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #fbfbfb;
}
body {
    background-image: url(https://i.imgur.com/rGAuiz7.jpg);
   
}

.container{
    width: 65%;
    margin: 0 auto;
    padding: 25px;
}

.titulo{
    font-size: 30px;
    width: 65%;
    margin: 0 auto;
    text-align: center;

}

.cont-columna{
    width: 100%;
    padding: 5px;
    display: flex;
}

.columna{
    width: 50%;
    float: left;
    display: table-cell;
    padding-bottom: 10px;
    padding: 1px;
}

.espacio {
    margin-left: 20px;
    margin-right: 20px;
    
}

.categoria{
    width: 100%;
    padding: 5px;
}

#file{
    display: none;
}

.subirImagen {
    margin-top: 10px;
    color: rgb(255, 255, 255);
    width: 408px;
    height: 40px;
    background-color: #0cbe35;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.botonAdd {

    background-color: #BE8C63;
    width: 308px;
    height: 40px;
    border-radius: 5px;
    border-width: 2px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 55px;
    
}

.ingresoTexto {
    background-color: #fbfbfb;
    color: black;
    width: 310px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255,255,255,0.9);
    padding-right: 100px;
    margin-bottom: 10px;
}

.botonRegistrar {
    background-color: #734d3a;
    width: 300px;
    height: 50px;
    border-radius: 4px;
    border-width: 2px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    margin: 0 auto;
    margin-left: 344px;
}

.porciones{
    color: #000000;
    border-radius: 4px;
}
